@media (max-height: 700px) {
	#media-view {
		top: 0;
		bottom: 0;
		margin: 0;
	}

	.title {
		line-height: 1.5em;
	}

	.links {
		line-height: 29px;
		font-size: 100%;
	}

	#album-view.media-view-container {
		display: none;
		height: 0;
	}
	#title {
		font-size: small;
		z-index: 1;
	}
	.error, .browsing-mode-message, .sort-message, #auth-text, .search-failed, .messages {
		margin-top: 15%;
	}

	#auth-question {
		font-size: 1em;
	}

	ul#right-menu li#menu-icon {
		font-size: 140%;
	}

	ul#right-menu #padlock {
		margin-left: 1em;
		padding-bottom: 0;
	}

	ul#right-menu #padlock img {
		width: 18px;
		height: 23px;
		float: right;
		padding-bottom: 10px;
	}

	ul#right-menu #menu-and-padlock {
		margin-left: ;
		padding-bottom: 0;
	}

	#my-modal .modal-close {
	    top: 35px !important;
	}

	#description {
		padding: .3em 0;
		border-width: 2px;
	}

	#description-text {
		padding: .3em;
		border-width: 2px;
	}

	#thumbs .thumbnail-map-link, #subalbums .thumbnail-map-link, #thumbs .select-box, #subalbums .select-box, #media-select-box .select-box, #popup-images-wrapper .select-box {
		opacity: .5;
	}
}
