/* Popup box BEGIN */

.map-popup-trigger {
    cursor: pointer;
    /* font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold; */
}

.map-container{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}

@media (max-height: 700px) {
  .map-container{
    height: unset !important;
  }
}
.map-container .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.map-container > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    /* max-width: 85%; */
    min-height: 100px;
    vertical-align: middle;
    width: 94%;
    height: 91%;
    position: relative;
    border-radius: 8px;
    padding: 10px;
}
.map-container #mapdiv {
    /* width: 99%;
    height: 99%; */
    color: black !important;
}

.map-close-button, .ol-popup-closer, .ol-popup-mover {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: gray;
}

.map-close-button, .ol-popup-closer {
    top: -20px;
}

.map-close-button:after, .ol-popup-closer:after {
  content: "✖";
}

.ol-popup-mover {
    bottom: -20px;
}

.ol-popup-mover:after {
  content: "⭮";
}

.map-close-button:hover, a.ol-popup-closer:hover, a.ol-popup-mover:hover {
    background-color: #ccc;
    color: gray;
}

#mapdiv {
  height: 100%;
}

#mapdiv .ol-overlaycontainer-stopevent ul {
  list-style-type: none;
}
#mapdiv .ol-overlaycontainer-stopevent ul li {
  font-size: 80%;
  list-style-type: none;
}
#mapdiv .ol-overlaycontainer-stopevent ul li a {
  color: black;
}
#mapdiv .ol-overlaycontainer-stopevent {
  position: absolute;
  bottom: 1%;
  right: 1%;
}
/* Popup box END */

.ol-rotate, .ol-rotate-reset, .ol-attribution button {
  display: none;
}

.ol-scale-line {
  background: rgba(0,60,136,0.3);
  border-radius: 4px;
  bottom: 8px;
  left: 8px;
  padding: 2px;
  /* position: absolute; */
}
.ol-scale-line-inner {
  border: 1px solid #eee;
  border-top: none;
  color: #eee;
  font-size: 10px;
  text-align: center;
  margin: 1px;
  will-change: contents, width;
  margin: auto;
}

.ol-attribution {
  text-align: center;
  bottom: .5em;
  right: .5em;
  /* max-width: calc(100% - 1.3em); */
}

.ol-attribution ul {
  margin: 0;
  padding: 0 .5em;
  font-size: .7rem;
  line-height: 1.375em;
  color: #000;
  text-shadow: 0 0 2px #fff;
}
.ol-attribution li {
  display: inline;
  list-style: none;
  line-height: inherit;
}
.ol-attribution li:not(:last-child):after {
  content: " ";
}
.ol-attribution img {
  max-height: 2em;
  max-width: inherit;
  vertical-align: middle;
}
.ol-attribution ul, .ol-attribution button {
  display: inline-block;
}
.ol-attribution.ol-collapsed ul {
  display: none;
}
.ol-attribution:not(.ol-collapsed) {
  /* background: rgba(255,255,255,0.8); */
}
.ol-attribution.ol-uncollapsible {
  bottom: 0;
  right: 0;
  border-radius: 4px 0 0;
  height: 1.1em;
  line-height: 1em;
}
.ol-attribution.ol-uncollapsible img {
  margin-top: -.2em;
  max-height: 1.6em;
}
.ol-attribution.ol-uncollapsible button {
  display: none;
}

.ol-zoom {
  width: 30px;
  margin: auto;
  opacity: 0.6;
}
.ol-zoom-in, .ol-zoom-out {
  padding: 2px;
  width: 24px;
}


.ol-popup {
  position: absolute;
  background-color: white;
  -webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
  padding: 15px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}

/* .ol-popup:after, .ol-popup:before { */
.ol-popup:after {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 48px;
  margin-left: -10px;
}

/* .ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 48px;
  margin-left: -11px;
} */

#popup-content .media-caption {
  color: black;
}

#popup-content {
  overflow-y: auto;
}

#popup-content .thumb-and-caption-container {
  display: table-cell;
}

.ol-popup.N {
	position: absolute;
	background: white;
	border-radius: .4em;
  left: -50px;
  bottom: 18px;
}

.ol-popup.N:after {
	content: '';
	position: absolute;
	bottom: 0;
  left: 50px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -20px;
	/* margin-bottom: -18px; */
}

.ol-popup.NE {
	position: absolute;
	background: white;
	border-radius: .4em;
  left: -50px;
  bottom: 18px;
}

.ol-popup.NE:after {
	content: '';
	position: absolute;
	bottom: 0;
  left: 50px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-top-color: white;
	border-bottom: 0;
	margin-left: -20px;
	/* margin-bottom: -18px; */
}

.ol-popup.E {
	position: relative;
	background: white;
	border-radius: .4em;
  left: 18px;
  top: -48px;
}

.ol-popup.E:after {
  content: '';
	position: absolute;
	right: 0;
	top: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-right-color: white;
	border-left: 0;
	margin-top: -18px;
	margin-left: -66px;
}

.ol-popup.SE {
	position: relative;
	background: white;
	border-radius: .4em;
  top: 18px;
  left: -50px;
}

.ol-popup.SE:after {
  content: '';
	position: absolute;
	top: 0;
  left: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom-color: white;
	border-top: 0;
	margin-left: -18px;
	margin-top: -18px;
}

.ol-popup.S {
	position: relative;
	background: white;
	border-radius: .4em;
  top: 18px;
  left: -50px;
}

.ol-popup.S:after {
  content: '';
	position: absolute;
	top: 0;
  left: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom-color: white;
	border-top: 0;
	margin-left: -18px;
	margin-top: -18px;
}

.ol-popup.SW {
	position: relative;
	background: white;
	border-radius: .4em;
  right: 18px;
  top: -48px;
}

.ol-popup.SW:after {
  content: '';
	position: absolute;
	left: 0;
  left: 48px;
	top: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-left-color: white;
	border-right: 0;
	margin-top: -18px;
	margin-right: -66px;
}

.ol-popup.W {
	position: relative;
	background: white;
	border-radius: .4em;
  right: 18px;
  top: -48px;
}

.ol-popup.W:after {
  content: '';
	position: absolute;
	left: 0;
  left: 48px;
	top: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-left-color: white;
	border-right: 0;
	margin-top: -18px;
	margin-right: -66px;
}

.ol-popup.NW {
	position: relative;
	background: white;
	border-radius: .4em;
  right: 18px;
  top: -48px;
}

.ol-popup.NW:after {
  content: '';
	position: absolute;
	left: 0;
  left: 48px;
	top: 48px;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-left-color: white;
	border-right: 0;
	margin-top: -18px;
	margin-right: -66px;
}
